# Python
__pycache__/
*.pyc
*.pyo

# Virtual env
venv/
.venv/
tms_backend/venv/

# Environment
.env
.env.*

# IDE
.vscode/
.idea/

# Frontend
node_modules/
.next/

# OS
.DS_Store
Thumbs.db

# Log
*.log
logs/

# pytest
.pytest_cache/

# mypy
.mypy_cache/

# coverage
.coverage